@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: rgb(230, 215, 215);
    border: 1px solid rgb(169, 164, 164);
    padding: 10px;
    border-radius: 10px;
  }
}
